fastapi
groq
uvicorn
requests
pandas
openpyxl
faiss-cpu
numpy
scikit-learn
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0
beautifulsoup4
resend
python-dotenv
pdfplumber
python-multipart
